*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
body
{
    background-color:rgb(7, 8, 8);
     color:#d6f5f5;
}
.header
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items:center;
    z-index:100;
}
.logo{
    width:100px;
}
.navbar a{
    display:inline-block;
    font-size: 25px;
    color:rgb(251, 252, 252);
    text-align: none;
    font-weight:500;
    text-decoration: none;
    margin-left: 20px;
    transition:0.5s;
    padding:10px 20px;
}
.navbar a:hover{
    color:rgb(64, 237, 243);
    

}
section{
    padding:100px 10%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width:100%;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    grid-gap:4em;

}
.home content{
    max-width: 500px;
}
.home-content h1{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
}
.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    overflow: hidden;
    border-right: .15em solid rgb(1, 7, 8); 
    white-space: nowrap;
    margin: 0;
    padding: 0;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}
.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:transparent;
    border:2px solid #0ef;
    border-radius:50%;
    font-size: 20px;
    color:rgb(235, 243, 243);
    text-decoration: none;
    margin:30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color:#9dcdf0;
    box-shadow: 0 0 20px rgb(212, 222, 223);

}

.home-img img {
    width: 400px; 
        height: auto;
        border-radius: 50%;
        float: right; 
    margin-left: 500px;
    position: absolute; 
    top: 200px;
               }
.btn-box{
    display:inline-block;
    padding:12px 28px;
    background: rgb(206, 236, 238);
    border-radius: 40px;
    font-size: 16px;
    color:#020e16;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.about{
    display: flex;
    justify-content: center;
    align-items:center;
    padding:12% 8%;
    gap:10em;
    background: hsl(180, 11%, 4%);

}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px rgb(50, 219, 224),
    0 0 50px rgb(40, 212, 204);
    border-radius: 50%;
}
.about-content h2
{
    text-align: left;
    color: rgb(213, 237, 245);
    font-size: 40px;
}

.about-content p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin:2em 0 3em;
}

  
.project {
    padding: 50px 0;
  }
  
  
  .project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: flex-start;
    margin-bottom: 50px;
  }
  
  
  .project-details {
    text-align: center;
  }
  
  
  .project h1 {
    font-size:40px;
    text-align: center;
    margin-bottom: 10px;
    }
  
  
  .project-images img {
    width: 300px; 
    height: auto;
    border-radius: 20px;
      margin-right:100px;
  }
  
  
  .project-details p {
    display:grid;
    font-size: 18px;
    color: #a1c7c4;
    margin-right:300px;
     margin-top: 50px;
  }
  
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #35615d;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;

  }
  
  .btn:hover {
    background-color: #35615d;
  }
  

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{

    max-width: 50em;
    margin:1rem auto;
    text-align:center;
    margin-bottom:3em;

}
.contact-form form .input-box{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    
}
.contact-form form .input-box input,
.contact-form form textarea{
    width:80%;
    padding:1.3em;
    font-size:18px;
    color:black;
    background:white(241, 241, 241);
    border-radius: 0.5rem;
    margin:1rem ;
    resize:none;
    margin-left: 10%;
}
.contact-form .btn-submit {
    background-color: #a8e1f0;
    color: #031316;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
}

.contact-form .btn-submit:hover {
    background-color: #0be6db;
}
.contact-info {
    text-align: right;
    }
  
.resume-button{
    display:inline-block;
    padding:12px 28px;
    background: rgb(206, 236, 238);
    border-radius: 40px;
    font-size: 16px;
    color:#020e16;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    
}
.resume-button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.skills{
    width: 500px;
    margin: 60px auto;
    color:rgb(133, 202, 207);
    padding:20px;
    box-shadow: 0 14px 28px #0ef(0, 0, 0, 0.25), 0 10px 10px #0ef(0, 0, 0, 0.22);
    
    
}
.skills h1{
    text-align: center;
    font-size: 40px;
}
.skill li{
    margin: 20px 0;
    padding: 10px;

}
.bar{
    background: #353b48;
    display:block;
    height:20px;
    border: 1px solid green (0 ,0 ,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px #0ef(0 ,0 ,0, 0.25), 0 1px 2px #0ef(0 ,0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25 0.8 0.25 1);
}
.bar:hover{
    box-shadow: 0 14px 28px #0ef(0 ,0 ,0 ,0.25), 0 10px 10px #0ef(0, 0, 0, 0.22);


}
.bar span{
    height:20px;
    float:left;
    background: linear-gradient(135deg ,rgb(59, 238, 238)0%, rgb(3, 124, 180)100%);

}
.html
{
    width:80%;
animation: html 3s;
}
.css
{width:65%;
animation: css 3s;
}
.creativity
{width:90%;
animation: creativity 3s;
}
.communication
{
    width:70%;
animation: communication 3s;
}
   @keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:80%
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:65%
    }
}
@keyframes creativity{
    0%{
        width:0%;
    }
    100%{
        width:90%
    }
}
@keyframes communication{
    0%{
        width:0%;
    }
    100%{
        width:70%
    }
}
